body {
    font-family:'Raleway', sans-serif;
    color:black;
    font-size: 16px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center; 
    height: 118px;
    margin: 0 20px 0 55px;
    
    
}
.logo{
    padding: 25px 0 0 0;
    height: 30px;
    width: 60px;
}
a {
    text-decoration: none; 
    color:#000000; 
}

.nav-bar-items{
    padding: 0 45px;
}
.nav-bar-items:hover {
    border-top: 2px solid #0065fc;
    padding: 45px;
    color:#0065fc;
}









h1{
    font-size: 22px;
    font-weight: 700;
}
.search{
    padding-left: 55px;
    
}
.fa-location-dot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;  
    border-radius: 15px 0px 0px 15px;
    text-align: center;
}
.search-input{
   font-size: 18px;
   padding-left: 17px;
   font-weight: 700;
   border: 1px solid #F2F2F2; 
}
.search-form{
    display: flex;
    margin-top: 20px; 
    height: 50px;
}
.search-button-text{
    color: white;
    background-color: #0065FC;
    width: 135px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}
.search-button-icon{
    display: none;
}



.filter{
    height: 50px;
    margin-top: 30px;
    margin-left: 55px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-weight: 700;
    font-size: 17px;
    
}
li{
    height: 100%;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}
.filter i{
    padding: 10px;
    color: #0065FC;
}
li a:last-child{
    padding-right: 10px;
}
li:hover{
    background-color: #DEEBFF;
}

@media screen and (max-width: 650px) {
    header{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin: 0;
    }
    .logo {
        margin: 30px 50% 0 50%;
    }
    nav {
        display: flex;
        justify-content: space-between;
        text-align:center;
        margin: 50px 0px 15px 0px;
        width:100%;
        
    }
    .nav-bar-items{
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
        padding: 0 0 25px;
    }
    .nav-bar-items:hover{
        border-bottom: 4px solid #0065fc;
        border-top: none;
        padding: 0 0 25px; 
    }
    .search-button-text{
        display: none;
    }
    .search-button-icon{
        display: block;
        color: white;
        background-color: #0065FC;
        width: 50px;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
    }
    .search{
        padding-left: 20px;
    }
    ul{
        padding: 0px;
        font-size: 14px;
    }
    .filter{
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    li{
        width: calc(50% - 50px);
    }
}

@media screen and (max-width: 460px){
    ul{
        font-size: 10px;
    }
    .filter{
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    li{
        width: calc(50% - 40px);
    }
}